.main-bg {
  background: $pink-color;
}

.btn {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}

.form-control {
  padding: 0.75rem 0.95rem;
  font-size: 1.6rem;
}

.form-control:focus {
  border-color: $pink-color;
  box-shadow: none;
}

.form-check-input {
  margin-top: 0.6rem;
}