<div class="container">
	<div class="row justify-content-center mb-5">
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card">
				<div class="card-title text-center border-bottom">
					<h2 class="p-3">My Info</h2>
				</div>
					<div class="card-body" id="form_show_current_user">
						<%= render "users/infos/form" %>
					</div>
			</div>
		</div>
	</div>
</div>